{% extends 'base.html' %} {% block content%}
<div class="col">
    <!-- Quote Section -->
    <div class="row bg-body-tertiary bg-dark ">
        <div class="col-md-6 mx-auto">
            <div class="h-100 p-5 rounded-3">
                <h1>Stay curious.</h1>
            </div>
        </div>
    </div>
    <div class="col-md-10 mx-auto border">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus praesentium quaerat commodi
                tempore! Ut sed modi magni incidunt ea ullam possimus beatae porro? Reprehenderit, dicta cum qui beatae
                dolorum aperiam ratione magni facere, fuga sequi non tenetur ducimus! Mollitia error maxime sapiente
                quasi animi tempore? Ipsa debitis odit omnis earum, laborum corrupti voluptatem voluptatum natus, vero
                perferendis quo! Eveniet repudiandae illo nihil? Reiciendis fugiat unde numquam explicabo? Fuga, quas.
                Mollitia sapiente dolorum nihil! Perferendis, explicabo unde, voluptates impedit eum laborum eveniet in
                eius consectetur dolor id dicta dolores odio officia, voluptas culpa cupiditate! At id explicabo earum.
                Nisi rem earum, libero at excepturi pariatur neque inventore voluptas velit tempora ullam est aspernatur
                ipsum veniam molestias, enim eum aut? Porro, pariatur nisi! Hic asperiores quasi enim mollitia optio
                nostrum reiciendis repellendus blanditiis, eos doloribus dicta ratione vitae exercitationem, ipsam
                quibusdam architecto! Error enim qui corporis accusamus quo omnis, dolorum nihil dignissimos repellat
                maiores similique eligendi nostrum consequatur velit eos sunt eius quibusdam, laboriosam aliquid animi
                reprehenderit suscipit. Qui maxime voluptas explicabo? Doloribus sapiente explicabo nisi placeat quasi
                mollitia facilis ex asperiores, eum, quia accusamus hic illo alias incidunt eius ducimus esse laborum
                autem similique omnis. Odio assumenda error laboriosam possimus voluptatum.
            </p>
        </div>
    </div>

</div>

{% endblock content%}