{% extends 'base.html' %} {% block content%}
<div class="row d-flex justify-content-center p-4">
    <h1>Dashboard</h1>
    <h3 class="text-info bg-dark">User:-{{request.user}}</h3>
    {% if messages %}
        {% for message in messages  %}
            <p {% if message.tags%} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
        {% endfor %}
    {% endif %}
</div>
<div class="col-10 mx-auto">
    <a href="{% url 'add-post'%}"><button type="button" class="btn btn-success mb-3">Add Post</button></a>
    <table class="table table-dark">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th colspan="2" scope="row" class="table-active">Id</th>
            <th colspan="2" scope="row" class="table-active">Title</th>
            <th colspan="2" scope="row" class="table-active">Content</th>
            <th colspan="2" scope="row" class="table-active">Action</th>
          </tr>
          {% for post in posts %}
          <tr>
            <td colspan="2" scope="row">{{post.id}}</td>
            <td colspan="2" scope="row">{{post.title}}</td>
            <td colspan="2" scope="row">{{post.content}}</td>
            <td colspan="2" scope="row">
                <a href="{% url 'update-post' post.id %}"><button type="button" class="btn btn-warning mb-2">Edit</button></a>
                <a href="{% url 'delete-post' post.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content%}